<div class="container">
  <!--Tabla y formulario para ver y añadir un servicio-->
  <div class="elemento  elemento1">
    <div class="tabla">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Abreviatura</th>
            <th>Color</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody>
          <!--Añadir botón para poder editar o borrar algún servicio-->
          <tr *ngFor="let servicio of servicios">
          <td>
            <input type="text" [(ngModel)]="servicio.nombre" [disabled]="!servicio.editing">
          </td>
          <td>
            <input type="text" [(ngModel)]="servicio.abreviatura" [disabled]="!servicio.editing">
          </td>
          <td>
            <input type="color" [(ngModel)]="servicio.color" [disabled]="!servicio.editing">
          </td>
          <td>
            <button *ngIf="!servicio.editing" (click)="editarServicio(servicio)">✏️</button>
            <button *ngIf="servicio.editing" (click)="guardarServicio(servicio)">💾</button>
            <button (click)="eliminarServicio(servicio.id)">🗑️</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  
    <div class="formulario">
      <h3>CREAR SERVICIO</h3>
      <input type="text" placeholder="Nombre" [(ngModel)]="nuevoServicio.nombre" />
      <input type="text" placeholder="Abreviatura" [(ngModel)]="nuevoServicio.abreviatura" />
      <input type="color" placeholder="Color" [(ngModel)]="nuevoServicio.color" />
      <button class="crear-btn" (click)="crearServicio()">CREAR</button>
    </div>
  </div>

  <br>

  <!--Tabla y formulario para ver y añadir una forma de pago-->
  <div class="elemento  elemento2">
    <div class="tabla">
      <table>
        <thead>
          <tr>
            <th>Método</th>
            <th>Nº Vencimientos</th>
            <th>Días Primer Pago</th>
            <th>Días Entre Pagos</th>
            <th>Ajustes</th>
          </tr>
        </thead>
        <tbody>
          <!-- Tabla de métodos de pago -->
        <tr *ngFor="let paymentMethod of paymentMethods">
          <td>
            <input type="text" [(ngModel)]="paymentMethod.method" [disabled]="!paymentMethod.editing">
          </td>
          <td>
            <input type="number" [(ngModel)]="paymentMethod.installments" [disabled]="!paymentMethod.editing">
          </td>
          <td>
            <input type="number" [(ngModel)]="paymentMethod.firstPaymentDays" [disabled]="!paymentMethod.editing">
          </td>
          <td>
            <input type="number" [(ngModel)]="paymentMethod.daysBetweenPayments" [disabled]="!paymentMethod.editing">
          </td>
          <td>
            <button *ngIf="!paymentMethod.editing" (click)="editarMetodoPago(paymentMethod)">✏️</button>
            <button *ngIf="paymentMethod.editing" (click)="guardarMetodoPago(paymentMethod)">💾</button>
            <button (click)="eliminarMetodoPago(paymentMethod.id)">🗑️</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  
    <div class="formulario">
      <h3>CREAR MÉTODO DE PAGO</h3>
      <input type="text" [(ngModel)]="newPaymentMethod.method" placeholder="Método" />
      <input type="number" [(ngModel)]="newPaymentMethod.installments" placeholder="Vencimientos" />
      <input type="number" [(ngModel)]="newPaymentMethod.firstPaymentDays" placeholder="Primer pago" />
      <input type="number" [(ngModel)]="newPaymentMethod.daysBetweenPayments" placeholder="Días entre pagos" />
      <button class="crear-btn" (click)="crearMetodoPago()">CREAR</button>
    </div>
  </div>

  <!--Tabla y formulario para ver y añadir un cliente-->
  <div class="elemento elemento3">
    <div class="tabla">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Número de Teléfono</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Código Postal</th>
            <th>Método de pago</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody>
        <!-- Tabla de clientes -->
          <tr *ngFor="let customer of customers">
            <td>
              <input type="text" [(ngModel)]="customer.name" [disabled]="!customer.editing">
            </td>
            <td>
              <input type="number" [(ngModel)]="customer.phoneNumber" [disabled]="!customer.editing">
            </td>
            <td>
              <input type="text" [(ngModel)]="customer.email" [disabled]="!customer.editing">
            </td>
            <td>
              <input type="text" [(ngModel)]="customer.adress" [disabled]="!customer.editing">
            </td>
            <td>
              <input type="number" [(ngModel)]="customer.postalCode" [disabled]="!customer.editing">
            </td>
            <td>
              <select [(ngModel)]="customer.paymentMethodId" [disabled]="!customer.editing">
                <option *ngFor="let metodo of paymentMethods" [value]="metodo.id">{{ metodo.method }}</option>
              </select>
              <span *ngIf="!customer.editing">{{ customer.paymentMethod?.method }}</span>
            </td>
            <td>
              <button *ngIf="!customer.editing" (click)="editarCliente(customer)">✏️</button>
              <button *ngIf="customer.editing" (click)="guardarCliente(customer)">💾</button>
              <button (click)="eliminarCliente(customer.id)">🗑️</button>
            </td>
          </tr>
      </tbody>
      </table>
    </div>
  
    <div class="formulario">
    <h3>CREAR CLIENTE</h3>
    <input type="number" [(ngModel)]="newCustomer.cif" placeholder="CIF" />
    <input type="text" [(ngModel)]="newCustomer.name" placeholder="Nombre" />
    <input type="text" [(ngModel)]="newCustomer.adress" placeholder="Dirección" />
    <input type="number" [(ngModel)]="newCustomer.postalCode" placeholder="Código Postal" />
    <input type="text" [(ngModel)]="newCustomer.placeOfResidence" placeholder="Lugar de residencia" />
    <input type="number" [(ngModel)]="newCustomer.phoneNumber" placeholder="Teléfono" />
    <input type="text" [(ngModel)]="newCustomer.email" placeholder="Email" />
    <input type="text" [(ngModel)]="newCustomer.adminEmail" placeholder="Email Administrativo" />
    <select [(ngModel)]="newCustomer.paymentMethodId">
      <option *ngFor="let metodo of paymentMethods" [value]="metodo.id">{{ metodo.id }}</option>
    </select>


    <button class="crear-btn" (click)="crearClientes()">CREAR CLIENTE</button>
  </div>
</div>
  