<div class="container">
  <!--Tabla y formulario para ver y añadir un servicio-->
  <div class="elemento1">
    <div class="tabla">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Abreviatura</th>
            <th>Color</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody>
          <!--Añadir botón para poder editar o borrar algún servicio-->
          <tr *ngFor="let servicio of servicios">
            <td>{{ servicio.nombre }}</td>
            <td>{{ servicio.abreviatura }}</td>
            <td>
              <div class="color-box" [style.background]="servicio.color"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="formulario">
      <h3>CREAR SERVICIO</h3>
      <input type="text" placeholder="Nombre" [(ngModel)]="nuevoServicio.nombre" />
      <input type="text" placeholder="Abreviatura" [(ngModel)]="nuevoServicio.abreviatura" />
      <input type="color" placeholder="Color" [(ngModel)]="nuevoServicio.color" />
      <button class="crear-btn" (click)="crearServicio()">CREAR</button>
    </div>
  </div>

  <!--Tabla y formulario para ver y añadir una forma de pago-->
  <div class="elemento2">
    <div class="tabla">
      <table>
        <thead>
          <tr>
            <th>Método</th>
            <th>Nº Vencimientos</th>
            <th>Días Primer Pago</th>
            <th>Días Entre Pagos</th>
            <th>Ajustes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paymentMethod of paymentMethods">
            <td>{{ paymentMethod.Method }}</td>
            <td>{{ paymentMethod.Installments }}</td>
            <td>{{ paymentMethod.FirstPaymentDays }}</td>
            <td>{{ paymentMethod.DaysBetweenPayments }}</td>
            <td>
              <button>Modificar</button>
              |
              <button>Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="formulario">
      <h3>CREAR SERVICIO</h3>
      <input type="text" placeholder="Method" [(ngModel)]="newPaymentMethod.Method" />
      <input type="number" placeholder="Installments" [(ngModel)]="newPaymentMethod.Installments" />
      <input type="number" placeholder="FirstPaymentDays" [(ngModel)]="newPaymentMethod.FirstPaymentDays" />
      <input type="number" placeholder="DaysBetweenPayments" [(ngModel)]="newPaymentMethod.DaysBetweenPayments" />
      <button class="crear-btn" (click)="crearMetodoPago()">CREAR</button>
    </div>
  </div>
</div>
  