body {
    margin: 0px;
    font-family:'Trebuchet MS';
    background: linear-gradient(to top, #cce6ff, #ffffff);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}