body {
    margin: 0px;
    font-family:'Trebuchet MS';
    background-image: url(https://localhost:7077/images/hospital_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}