body {
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://localhost:7077/images/hospital_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}