<div class="layout">
    <div class="sidebar">
        <div class="usuario">
            <img [src]="userProfilePhoto" alt="Foto de Perfil" class="perfil-foto">
            <p>Bienvenido, {{ userNickname }}</p>
        </div>

        <nav class="navegacion">
            <a routerLink="/" routerLinkActive="activo">
                <i class="icono icon-ficheros"></i> Inicio
            </a>
            <a routerLink="/app/ficheros" routerLinkActive="activo">
                <i class="icono icon-ficheros"></i> Ficheros
            </a>
            <a routerLink="/app/agenda" routerLinkActive="activo">
                <i class="icono icon-agenda"></i> Agenda
            </a>
            <a routerLink="/app/facturas" routerLinkActive="activo">
                <i class="icono icon-facturas"></i> Facturas
            </a>
            <a routerLink="/app/informes" routerLinkActive="activo">
                <i class="icono icon-informes"></i> Informes
            </a>
            <a routerLink="/app/amigos" routerLinkActive="activo">
                <i class="icono icon-amigos"></i> Amigos
            </a>
        </nav>

        <div class="cerrar-sesion">
            <a (click)="logout()">
                <i class="icono icon-cerrar"></i> Cerrar Sesión
            </a>
        </div>
    </div>
</div>