<!-- menu.component.html -->
<div class="layout">
    <div class="sidebar">
        <div class="usuario">
            <p>Bienvenido, Usuario</p>
            <img src="assets/user_placeholder.png" alt="Foto Usuario" class="foto-usuario">
        </div>

        <nav class="navegacion">
            <a routerLink="/ficheros" routerLinkActive="activo">
                <i class="icono icon-ficheros"></i> Ficheros
            </a>
            <a routerLink="/agenda" routerLinkActive="activo">
                <i class="icono icon-agenda"></i> Agenda
            </a>
            <a routerLink="/facturas" routerLinkActive="activo">
                <i class="icono icon-facturas"></i> Facturas
            </a>
            <a routerLink="/informes" routerLinkActive="activo">
                <i class="icono icon-informes"></i> Informes
            </a>
        </nav>

        <div class="cerrar-sesion">
            <!-- <a (click)="logout()"> -->
                <i class="icono icon-cerrar"></i> Cerrar Sesión
            <!-- </a> -->
        </div>
    </div>

    <div class="contenido">
        <router-outlet></router-outlet>
    </div>
</div>
