*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
TFG_Movil/.gradle/8.10.2/executionHistory/executionHistory.lock
TFG_Movil/.gradle/buildOutputCleanup/buildOutputCleanup.lock
