<div class="general">
    <div class="cuadradoFuera">
        <div class="cajita">
            <h1 id="registrarse">
                <u>REGÍSTRATE</u>
            </h1>
        </div>
        <br>
        <div class="formulario">
            <form [formGroup]="addOrEditForm" (ngSubmit)="submit()">
                <br>
                <label class="label">
                    <b>Apodo:</b>&nbsp;
                    <input type="text" formControlName="nickname"/> 
                </label>
                <br>
                <label class="label">
                    <b>Email:</b>&nbsp;
                    <input type="text" formControlName="email"/> 
                </label>
                <br>
                <label class="label">
                    <b>Contraseña:</b>&nbsp;
                    <input type="password" formControlName="password"/> 
                </label>
                <br>
                <label class="label">
                    <b>Confirmar Contraseña:</b>&nbsp;
                    <input type="password" formControlName="confirm_password"/> 
                </label>
                <br>
                <label class="label">
                    <b>Foto de perfil:</b>&nbsp;
                    <input type="file" accept="image/png, image/jpg, image/jpeg" (change)="onFileSelected($event)"/>
                </label>
                <br>
                <br>
                <input type="submit" [disabled]="!addOrEditForm.valid" />    
            </form>
        </div>
        
        <br>
    
        <p id="llevarRegistro">
            Si ya tienes una cuenta, <b><u><a [routerLink]="'/login'">Inicia Sesión aquí</a></u></b>
        </p>
    </div>
</div>